body{
    margin: 20px;
    font-family: 'Anton';
    /*background: rgb(255,99,14);*/
    background-color: #e98e5b;
}

.titles{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#bossHealth{
    border: 5px solid grey;
    border-radius: 7px;
    background-color: grey;
    display: none;
    width: 50%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#bossHealthLeft{
    background-color: green;
    height: 24px;
    border-radius: 3px;
}

#bossLabel{
    display: none;
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}

#playerLabel{
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}

#playerHealth{
    border: 5px solid grey;
    border-radius: 7px;
    background-color: grey;
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#playerHealthLeft{
    background-color: red;
    height: 24px;
    border-radius: 3px;
}

#rightBanner{
    width: 25%;
    float: right;
}

#highscores{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 7px;
}

#controls{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 7px;
}

